<div class="jumbotron banner text-center">
  <h1 class="text-center text-white align-bottom">Pirate Cove</h1>
  <h4 class="text-center text-white align-bottom"><em>A community blog for pirates</em></h4>
</div>