{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
    <h1 class="text-center">A Pirate's Life for Me</h1>
    <h6>Welcome to Pirate Cove, the #1 blog for all things pirate. Be sure to check out all our latest posts and community contributions below!</h6>
    </div>
  </div>
  <br>
  <div class="row">
    {% for entry in blog.blogs %}
    <div class="col-sm-6 col-lg-4">
      <div class="card mb-4 border-info">
        <div class="card-body">
          <h4 class="card-title"> {{ entry.headline }} </h4>
          <h5 class="card-text text-secondary">By {{ entry.author }} </h5>
          <p class="card-text"> {{ entry.prev }} </p>
          <a href="{{ relative_path }}/blog/{{ entry.slug }}.html" class="btn btn-primary">Read</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}